body{
    background: url("na3.jpg ");
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
.main{
    background: url("bgmain.jpg ") repeat;
    background-position: 0px 0px;
    min-height:610px;
    width: 994px;
    margin: 0 auto 0 auto;
}
#header{
    background: url("na1.jpg") repeat;
    background-position: 0px 0px;
    height:97px;
    width: 999px;
    margin: 0 auto 0 auto;
}
.top{
    height:62px;
    width: 999px;
}
/*
#logo{
    float: left;
}
*/
.logo{
    height: 62px;
    width: 300px;
    float: left;
}
.logo a{

    display:inline-block;
    margin-top: 15px;
    margin-left: 25px;
}
img{
    width: 90px;
    height: 98px;
}
.menu{
    height:32px;
    width: 370px;
    float: right;
    margin: 15px 50px 0;
}
.menu a{
    background-position: 700px 5px;
    font-size: 12px;
    color: #616161;
    text-decoration: none;
}
.menu a:hover{
    font-size: 12px;
    color: #616161;
    text-decoration: underline;
}
.menu span{
    margin: 0 7px 0 7px;
}
a.english{
    background: url("na2.jpg") no-repeat;
    height:11px;
    width: 38px;
    display: inline-block;
}
.nav{
    height:35px;
    width: 839px;
    padding: 0 30px 0 33px;
}
.nav a{
    background:no-repeat;
    height:35px;
    width: 134px;
    display: inline-block;
    margin:0;
    padding: 0px;
}
.nav_1{
    background: url("nav_1_1.jpg");
 }
.nav_1:hover{
    background: url("nav_1_2.jpg");
}
.nav_2{
    background: url("nav_2_1.jpg");
}
.nav_2:hover{
    background: url("nav_2_2.jpg");
}.nav_3{
     background: url("nav_3_1.jpg");
 }
.nav_3:hover{
    background: url("nav_3_2.jpg");
}.nav_4{
     background: url("nav_1_1.jpg");
 }
.nav_4:hover{
    background: url("nav_1_2.jpg");
}.nav_5{
     background: url("nav_2_1.jpg");
 }
.nav_5:hover{
    background: url("nav_2_2.jpg");
}.nav_6{
     background: url("nav_3_1.jpg");
 }
.nav_6:hover{
    background: url("nav_3_2.jpg");
}